<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>또간집 맛집 지도</title>
    <link href="/common.css" rel="stylesheet">

</head>

<body>
<div id="title"><span class="title-decoration">또</span><span class="title-decoration">간</span><span class="title-decoration">집</span>맛집 지도</div>
<div id="container"><div id="map"></div><div id="side"><input type="text" id="input-addr" placeholder="주소를 입력해주세요."><input type="button" id="btn-coordinate" value="좌표 얻기"><div id="div-addr-console"></div></div></div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0jcn2x4ikv"></script>
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0jcn2x4ikv&submodules=geocoder"></script>
<script src="/common.js"></script>
</body>
</html>