<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>또간집 맛집 지도</title>
    <link href="/common.css" rel="stylesheet">
    <script src="/common.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0jcn2x4ikv"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0jcn2x4ikv&submodules=geocoder"></script>
</head>

<body>
<div id="title"><span class="title-decoration">또</span><span class="title-decoration">간</span><span class="title-decoration">집</span>맛집 지도</div>
<div id="container"><div id="map"></div><div id="side"><input type="text" id="input-addr" placeholder="주소를 입력해주세요."><input type="button" id="btn-coordinate" value="좌표 얻기"><div id="div-addr-console"></div></div></div>

<script>
    var mapOptions = { center: new naver.maps.LatLng(37.3595704, 127.105399), zoom: 10 };
    var map = new naver.maps.Map('map', mapOptions);

    document.addEventListener('click', (e) => {
        if(e.target.id == 'btn-coordinate') {
            const addr = document.getElementById('input-addr').value;

            if(!addr) { alert('주소를 입력해주세요.'); }
            else {
                $.ajax({
                    type: 'get', url: '/naver/map', data: {'addr': encodeURIComponent(addr)}, dataType: 'json',
                    success: (data) => {
                        console.log('data = ', data);
                        const addr = data.addresses[0];
                        const divAddrConsole = document.getElementById('div-addr-console');
                        divAddrConsole.innerHTML = `<p>주소: <span id="addr">${addr.roadAddress}</span></p><p>x: <span id="x">${addr.x}</span></p><p>y: <span id="y">${addr.y}</span></p>`;
                    },
                    error: (x, e) => { console.log(x); console.log(e); }
                })
            }
        }
    });
</script>
</body>
</html>